@import 'hel-bootstrap-3/src/sass/helsinki-variables';
@import 'hel-bootstrap-3/src/sass/application-variables';

$icon-font-path: '../bootstrap-sass/assets/fonts/bootstrap/';

$theme-primary-dark: $hel-bus;
$theme-primary-light: $hel-engel;

$theme-highlight-dark: $hel-brick;
$theme-highlight-light: $hel-suomenlinna;

@import 'hel-bootstrap-3/src/sass/theme-bootstrap-variables';
@import 'digihel/static/css/bootstrap-custom';
@import 'hel-bootstrap-3/src/sass/theme-custom-styles';

@import 'bourbon/app/assets/stylesheets/bourbon';
@import 'digihel/static/css/digihel-icons';
@import 'digihel/static/css/common-styles';

.digiedu-frontpage-header {
  padding-bottom: $line-height-computed * 3;
  padding-top: $line-height-computed * 3;
  color: $hel-bus;
}

.file-list__item {
  padding: $line-height-computed / 2;
  background: $hel-engel;
  margin-bottom: $line-height-computed;

  h4 {
    margin-top: 0;
  }

  .file-list__link {
  }
}

.file-view__details {
  padding: $line-height-computed / 2;
  background: $hel-engel;
}