{% extends "base.html" %}
{% load digi_tags wagtailcore_tags compress wagtailimages_tags %}
{% load humanize %}

{% block content %}
<section class="main-section section--page-header">
  <div class="container">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>
  <div class="page-header-koro"></div>
</section>

<section class="main-section section--content">
  <div class="container">
    <div class="row events-index">
          <!-- Grid layout needs rework to wrap and align properly -->
    </div>
  </div>
</section>
{% endblock %}

{% block extra_js %}
{% compress js inline %}
<script type="text/javascript">
    $.getJSON('/event_data/?future=true', function(json) {return displayEvents(json,true)});
</script>
{% endcompress %}
{% endblock %}
