{% load wagtailcore_tags wagtailimages_tags %}
 
{% if blocks %}
{% for block in blocks %}
    {% if block.block_type == 'heading' %}
        <h1 class="hyphenate">{{ block.value }}</h1>
    {% elif block.block_type == 'image' %}
        {% image block.value original as image %}
        <section class="block-{{ block.block_type }}">
            <img alt="{{ image.alt }}" src="{{ image.url }}" class="img-responsive" />
        </section>
    {% else %}
        <section class="block-{{ block.block_type }}">
            {% include_block block with block_id=forloop.counter %}
        </section>
    {% endif %}
{% endfor %}
{% endif %}
