{% extends "base.html" %}
{% load wagtailcore_tags content_tags people_tags %}

{% block body_class %}template-contentpage{% endblock %}

{% block content %}
<article class="container main-container page-content">
    <div class="row">
        <div class="col-md-8 content">
        {% include "content/blocks.html" with blocks=page.body only %}
        </div>
        <div class="col-md-4">
            {% include "includes/sidebar_links_and_roles.html" %}
        </div>
    </div>
</article>
{% endblock %}
