-e git+https://github.com/City-of-Helsinki/django-helusers.git@v0.1#egg=django-helusers
-e git+https://github.com/City-of-Helsinki/wagtail-svgmap.git@v0.1.1#egg=wagtail_svgmap
-e git+https://github.com/City-of-Helsinki/wagtailtinymce.git@extensibility#egg=wagtailtinymce==4.4.3.0
autopep8
celery
django-allauth
django-npm
django-celery
django-compressor-autoprefixer
django-debug-toolbar
django-enumfields
django-libsass
django-social-widgets
Django>=1.9,<1.10
django_compressor
elasticsearch
isort
Jinja2
pip-tools
psycopg2
pytest
pytest-django
raven
redis
tweepy
twitter-text-python
wagtail
wagtail-blog
