-e git+https://github.com/City-of-Helsinki/django-helusers.git@v0.1#egg=django-helusers
-e git+https://github.com/City-of-Helsinki/wagtail-svgmap.git@v0.1.1#egg=wagtail_svgmap
celery
django-allauth
django-bower
django-celery
django-compressor-autoprefixer
django-libsass
Django>=1.9,<1.10
django_compressor
elasticsearch
Jinja2
pip-tools
psycopg2
pytest
pytest-django
raven
redis
tweepy
wagtail
wagtail-blog
