{% load static content_tags wagtailuserbar wagtailcore_tags compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fi"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %} - Digitaalinen Helsinki</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <meta property="og:title" content="{% block sometitle %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %} - Digitaalinen Helsinki">
        {% if self.search_description %}
        <meta property="og:description" content="{{ self.search_description }}"/>
        {% else %}
        <meta property="og:description" content="Helsingin kaupunki digitalisoi palvelujaan. Tulevaisuudessa kaupungin palvelut ovat helppokäyttöisiä ja kätevästi kaupunkilaisten ulottuvilla. Parempia palveluja kehitetään yhdessä asiantuntijoiden, kaupunkilaisten ja yritysten kanssa.">
        {% endif %}
        <meta property="og:image" content="https://digi.hel.fi{% static "images/share-default.jpg" %}">
        <meta property="og:url" content="https://digi.hel.fi{{ request.get_full_path }}">
        <meta name="twitter:card" content="summary_large_image">

        {# Global stylesheets #}
        {% block main_css %}
          {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static "css/digihel.scss" %}" />
          {% endcompress %}
        {% endblock main_css %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body role="document" class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}
        <div class="page-content">
          {% block content %}{% endblock %}
        </div>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-push-6 col-sm-4 col-sm-push-4">
                    {% for section in request.site.root_page.specific.footer_link_sections %}
                        <div class="page-footer-block">
                            {% if section.title %}<div class="footer-header">{{ section.title }}</div>{% endif %}
                            <ul class="footer-links">
                            {% for link in section.links.all %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-md-3 col-md-pull-3 col-sm-4 col-sm-pull-4">
                      {% block footer_branding %}
                        <div class="footer-branding footer-branding-helsinki">
                            <a href="http://www.hel.fi">
                                <img alt="Helsingin tunnus" src="{% static "hel-bootstrap-3/src/assets/helsinki-logo-white.svg" %}" class="footer-logo footer-logo-helsinki" aria-hidden="true">
                            </a>
                        </div>
                        <div class="footer-branding footer-branding-heldev">
                            <a href="http://dev.hel.fi">
                                <img alt="Helsinki loves developers" src="{% static "images/heldev_logo-white-mini.svg" %}" class="footer-logo footer-logo-heldev" aria-hidden="true">
                                <div class="footer-branding-text">Helsingin kaupungin avoin ohjelmistokehitys</div>
                            </a>
                        </div>
                      {% endblock footer_branding %}
                    </div>
                    <div class="col-md-3 col-md-push-3 col-sm-4">
                      {% block footer_links %}
                        <div class="page-footer-block">
                            <div class="footer-header">Katso myös</div>
                            <ul class="footer-links">
                                <li></li>
                                <li><a href="http://www.slideshare.net/DigitalHelsinki"><span class="icon icon-linkedin-rect"></span> Slideshare</a></li>
                                <li><a href="https://github.com/City-of-Helsinki"><span class="icon icon-github"></span> GitHub</a></li>
                                <li><a href="https://twitter.com/search?q=%23digihelsinki"><span class="icon icon-twitter-bird"></span> #digihelsinki</a></li>
                            </ul>
                        </div>
                      {% endblock footer_links %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                      {% block footer_smallprint %}
                        <div class="page-footer-small-print">
                            <div class="footer-header">Yhteistyössä</div>
                            <ul class="footer-partners">
                                <li><a href="http://hri.fi"><img alt="Helsinki Region Infoshare" src="{% static "images/hri_logo_darkBG.svg" %}" class="partner-logo" aria-hidden="true"></a></li>
                                <li><a href="http://6aika.fi"><img alt="6Aika" src="{% static "images/6aika-white.svg" %}" class="partner-logo" aria-hidden="true"></a></li>
                                <li><img alt="Vipuvoimaa EU:lta 2014—2020" src="{% static "images/eu-vipuvoimaa-white.svg" %}" class="partner-logo" aria-hidden="true"></li>
                                <li><img alt="Euroopan Unioni Euroopan aluekehitysrahasto Euroopan sosiaalirahasto" src="{% static "images/eu-aluekehitys-white.svg" %}" class="partner-logo" aria-hidden="true"></li>
                            </ul>
                            <ul class="small-print-nav">
                                <li><a href="/yhteystiedot/">Ota yhteyttä</a></li>
                                <li>2017 Helsingin kaupunki</li>
                            </ul>
                        </div>
                      {% endblock footer_smallprint %}
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        {% compress js %}
            <script type="text/javascript">
              var Hyphenopoly = {
                  require: {
                      "fi": "hiirenkorvapäivät"
                  },
                  paths: {
                      patterndir: "{% static 'js/Hyphenopoly/patterns/' %}",
                      maindir: "{% static 'js/Hyphenopoly/' %}"
                  },
                  setup: {
                      classnames: {
                          "hyphenate": {}
                      }
                  }
              };
            </script>
            <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>
            <script src="{% static 'jquery-match-height/dist/jquery.matchHeight.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/digihel.js' %}"></script>
            <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'moment/locale/fi.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/Hyphenopoly/Hyphenopoly_Loader.js' %}"></script>
            <script type="text/coffeescript" src="{% static 'events/displayEvents.coffee' %}"></script>
        {% endcompress %}
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.digi.hel.fi","*.digi.hel.ninja"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//analytics.hel.ninja/pwk/";
                _paq.push(['setTrackerUrl', u+'pw.php']);
                _paq.push(['setSiteId', '11']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pw.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//analytics.hel.ninja/pwk/pw.php?idsite=11" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
