{% load static content_tags wagtailuserbar wagtailcore_tags compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {# Global stylesheets #}
        

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/digihel.scss" %}" />
        {% endcompress %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body role="document" class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}
        <div class="page-content">
          {% block content %}{% endblock %}
        </div>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                <!-- Logo here -->
                {% for section in request.site.root_page.specific.footer_link_sections %}
                    <div class="col-sm-4">
                        {% if section.title %}<div class="footer-header">{{ section.title }}</div>{% endif %}
                        <ul class="footer-links">
                        {% for link in section.links.all %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% static 'js/digihel.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
