{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags people_tags %}

{% block body_class %}helsinkioppii-case-page{% endblock %}

{% block content %}
    <section class="main-section section--case-header">
        <div class="container">
            {% if request.user == page.owner %}
                <div class="row">
                    <div class="col-md-8 col-lg-7 col-md-offset-3">
                        <div class="case-toolbox">
                            <h4>
                                {% if page.draft %}
                                    {% trans "Draft" %}
                                {% else %}
                                    {% trans "Public" %}
                                {% endif %}
                            </h4>
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="{{ page.delete_view_path }}" class="btn btn-block btn-danger">
                                        {% trans "Delete" %}
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="{{ page.update_view_path }}" class="btn btn-block btn-default">
                                        {% trans "Edit" %}
                                    </a>
                                </div>
                                {% if page.draft %}
                                    <div class="col-sm-4">
                                        <a href="{{ page.publish_view_path }}" class="btn btn-block btn-info">
                                            {% trans "Publish" %}
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-sm-4">
                                        <a href="{{ page.unpublish_view_path }}" class="btn btn-block btn-info">
                                            {% trans "Unpublish" %}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class=" col-md-8 col-lg-7 col-md-offset-3">
                    <h2 class="case-section-header"><a href="#">Case</a></h2>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section section--content">
        <div class="container">
            <div class="row">
                <div class="sidebar col-md-3 col-lg-3">
                    <div class="case-meta">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <dl class="case-meta--basics">
                                    {% if page.school %}
                                        <dt>Koulu</dt>
                                        <dd>{{ page.school }}</dd>
                                    {% endif %}
                                    {% if page.student_count %}
                                        <dt>Oppilaiden määrä</dt>
                                        <dd>{{ page.student_count }}</dd>
                                    {% endif %}
                                    {% if page.themes %}
                                        <dt>Tyyppi</dt>
                                        {% for theme in page.themes.all %}
                                            <dd>{{ theme }}</dd>
                                        {% endfor %}
                                    {% endif %}
                                    {% if page.grades %}
                                        <dt>Luokka-aste</dt>
                                        {% for grade in page.grades.all %}
                                            <dd>{{ grade }}</dd>
                                        {% endfor %}
                                    {% endif %}
                                    {% if page.subjects %}
                                        <dt>Oppiaine</dt>
                                        {% for subject in page.subjects.all %}
                                            <dd>{{ subject }}</dd>
                                        {% endfor %}
                                    {% endif %}
                                </dl>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                {% if page.keywords.all %}
                                    <dl class="case-meta--tags">
                                        <dt>Asiasanat</dt>
                                        <dd>
                                            {% for keyword in page.keywords.all %}
                                                <span class="label label-primary">{{ keyword }}</span>
                                            {% endfor %}
                                        </dd>
                                    </dl>
                                {% endif %}
                                {% if page.contacts.all %}
                                    <dl class="case-meta--contact">
                                        <dt>Lisätietoja</dt>
                                        <dd>
                                            <ul class="list-unstyled">
                                            {% for contact in page.contacts.all %}
                                            <li>
                                                <strong>{{contact.person.get_display_name}}</strong><br/>
                                                {% if contact.person.email %}
                                                <div class="email"><a href="mailto:{{ person.email }}">{{ contact.person.email }}</a></div>
                                                {% endif %}
                                                {% if contact.person.telephone %}
                                                <div class="telephone">{{ contact.person.telephone }}</div>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                            </ul>
                                        </dd>
                                    </dl>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="case-social-fb">
                        {# Facebook "share" button #}
                        <div class="fb-share-button"
                             data-href="https://developers.facebook.com/docs/plugins/"
                             data-layout="button"
                             data-size="small"
                             data-mobile-iframe="true"
                        >
                            <a target="_blank"
                               href="https://www.facebook.com/sharer/sharer.php?u={{ page.full_url }}&src=sdkpreparse"
                               class="fb-xfbml-parse-ignore"
                            >
                                {% trans "Share" %}
                            </a>
                        </div>
                    </div>
                    <div class="case-social-twitter">
                        {# Twitter "tweet" button #}
                        <a class="twitter-share-button"
                           href="https://twitter.com/intent/tweet"
                        >
                            Tweet
                        </a>
                    </div>
                    <div class="case-links">
                        <h4 class="sidebar-title">{% trans "Links" %}</h4>
                        TODO
                    </div>
                    <div class="case-attachments">
                        <h4 class="sidebar-title">{% trans "Attachments" %}</h4>
                        TODO
                    </div>
                </div>
                <div class="content col-md-8 col-lg-7">
                    <h1 class="title hyphenate">{{ page.title }}</h1>
                    {% image page.image fill-800x600-c100 as content_image %}
                    {% if content_image %}
                        <img src="{{ content_image.url }}" class="case-image" alt="{{ content_image.alt }}">
                    {% endif %}
                    {% if page.content_objectives %}
                        <h2 class="case-content-section-header">Tavoitteet</h2>
                        {{ page.content_objectives |safe }}
                    {% endif %}
                    {% if page.content_what %}
                        <h2 class="case-content-section-header">Mitä tehtiin</h2>
                        {{ page.content_what |safe }}
                    {% endif %}
                    {% if page.content_how %}
                        <h2 class="case-content-section-header">Miten tehtiin</h2>
                        {{ page.content_how |safe }}
                    {% endif %}
                    {% if page.content_who %}
                        <h2 class="case-content-section-header">Ketkä osallistuivat</h2>
                        {{ page.content_who |safe }}
                    {% endif %}
                    {% if page.content_evaluation %}
                        <h2 class="case-content-section-header">Miten oppiminen arvioitiin</h2>
                        {{ page.content_evaluation |safe }}
                    {% endif %}
                    {% if page.content_materials %}
                        <h2 class="case-content-section-header">Materiaalit</h2>
                        {{ page.content_materials |safe }}
                    {% endif %}
                    <div class="row case-pros-cons">
                        <div class="col-sm-6">
                            {% if page.content_pros %}
                                <div class="case-pros">
                                    <h2 class="case-content-section-header">Plussat</h2>
                                    {{ page.content_pros |safe }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            {% if page.content_cons %}
                                <div class="case-cons">
                                    <h2 class="case-content-section-header">Kehitettävää</h2>
                                    {{ page.content_cons |safe }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    {# FB "share" JS snippet #}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {# Twitter "tweet" JS snippet #}
    <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));
    </script>
{% endblock %}
