{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags people_tags %}

{% block body_class %}helsinkioppii-case-page{% endblock %}

{% block content %}
    <section class="main-section section--case-hero">
        {% image page.image fill-1920x1080-c100 as content_image %}
        {% if content_image %}
            <figure class="image-container container--case-hero" style="background-image: url('{{ content_image.url }}')">
                <figcaption class="hero-caption">
                    <span class="caption-content">{{ content_image.alt }}</span>
                </figcaption>
            </figure>
        {% endif %}
        <div class="hero-koro"></div>
    </section>

    <section class="main-section section--case-header">
        <div class="container">
            <div class="row">
                <div class=" col-md-8 col-lg-7 col-lg-offset-3">
                    <h2 class="case-section-header"><a href="#">Case</a></h2>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-8 col-lg-7 col-lg-offset-3">
                    <h1 class="title hyphenate">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section section--content">
        <div class="container">
            <div class="row">
                <div class="sidebar col-md-3 col-lg-3">
                    <div class="case-meta">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <dl class="case-meta--basics">
                                    {% if page.school %}
                                        <dt>Koulu</dt>
                                        <dd>{{ page.school }}</dd>
                                    {% endif %}
                                    {% if page.student_count %}
                                        <dt>Oppilaiden määrä</dt>
                                        <dd>{{ page.student_count }}</dd>
                                    {% endif %}
                                    {% if page.themes %}
                                        <dt>Tyyppi</dt>
                                        {% for theme in page.themes.all %}
                                            <dd>{{ theme }}</dd>
                                        {% endfor %}
                                    {% endif %}
                                    {% if page.grades %}
                                        <dt>Luokka-aste</dt>
                                        {% for grade in page.grades.all %}
                                            <dd>{{ grade }}</dd>
                                        {% endfor %}
                                    {% endif %}
                                    {% if page.subjects %}
                                        <dt>Oppiaine</dt>
                                        {% for subject in page.subjects.all %}
                                            <dd>{{ subject }}</dd>
                                        {% endfor %}
                                    {% endif %}
                                </dl>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                {% if page.keywords.all %}
                                <dl class="case-meta--tags">
                                    <dt>Asiasanat</dt>
                                    <dd>
                                        {% for keyword in page.keywords.all %}
                                            <span class="label label-primary">{{ keyword }}</span>
                                        {% endfor %}
                                    </dd>
                                </dl>
                                {% endif %}
                                {% if page.contacts.all %}
                                <dl class="case-meta--contact">
                                    <dt>Lisätietoja</dt>
                                    <dd>
                                        <ul class="list-unstyled">
                                        {% for contact in page.contacts.all %}
                                        <li>
                                                <strong>{{contact.person.get_display_name}}</strong><br/>
                                                {% if contact.person.email %}
                                                <div class="email"><a href="mailto:{{ person.email }}">{{ contact.person.email }}</a></div>
                                                {% endif %}
                                                {% if contact.person.telephone %}
                                                <div class="telephone">{{ contact.person.telephone }}</div>
                                                {% endif %}
                                        </li>
                                        {% endfor %}
                                        </ul>
                                    </dd>
                                </dl>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content col-md-8 col-lg-7">
                    {% if page.content_objectives %}
                        <h2 class="case-content-section-header">Tavoitteet</h2>
                        {{ page.content_objectives |safe }}
                    {% endif %}
                    {% if page.content_what %}
                        <h2 class="case-content-section-header">Mitä tehtiin</h2>
                        {{ page.content_what |safe }}
                    {% endif %}
                    {% if page.content_how %}
                        <h2 class="case-content-section-header">Miten tehtiin</h2>
                        {{ page.content_how |safe }}
                    {% endif %}
                    {% if page.content_who %}
                        <h2 class="case-content-section-header">Ketkä osallistuivat</h2>
                        {{ page.content_who |safe }}
                    {% endif %}
                    {% if page.content_evaluation %}
                        <h2 class="case-content-section-header">Miten oppiminen arvioitiin</h2>
                        {{ page.content_evaluation |safe }}
                    {% endif %}
                    {% if page.content_materials %}
                        <h2 class="case-content-section-header">Materiaalit</h2>
                        {{ page.content_materials |safe }}
                    {% endif %}
                    <div class="row case-pros-cons">
                      <div class="col-sm-6">
                          {% if page.content_pros %}
                              <div class="case-pros">
                                  <h2 class="case-content-section-header">Plussat</h2>
                                  {{ page.content_pros |safe }}
                              </div>
                          {% endif %}
                      </div>
                      <div class="col-sm-6">
                          {% if page.content_cons %}
                              <div class="case-cons">
                                  <h2 class="case-content-section-header">Kehitettävää</h2>
                                  {{ page.content_cons |safe }}
                              </div>
                          {% endif %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
