{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}helsinkioppii-case-page{% endblock %}

{% block content %}
    <section class="main-section section--case-hero">
        {% image page.image fill-1920x1080-c100  as content_image %}
            {% if content_image %}
                <figure class="image-container container--case-hero" style="background-image: url('{{ content_image.url }}')">
                  <figcaption class="hero-caption"><span class="caption-content">{{ content_image.alt }}</span></divfigcaption>
                </figure>
        {% endif %}
        <div class="hero-koro"></div>
    </section>

    <section class="main-section section--case-header">
        <div class="container">
          <h1 class="title">{{ page.title }}</h1>
          <p class="abstract"><b>{{ page.abstract }}</b></p>
        </div>
    </section>

    <section class="main-section section--content">
        <div class="container">
            <div class="row">
                <div class="sidebar col-md-3">
                  <dl>
                    <dt>Koulu</dt>
                    <dd>{{ page.school }}</dd>
                    <dt>Oppilaiden määrä</dt>
                    <dd>{{ page.student_count }}</dd>
                    <dt>Tyyppi</dt>
                    <dd>{{ page.case_type }}</dd>
                    <dt>Luokka-aste</dt>
                    <dd>{{ page.grade }}</dd>
                    <dt>Oppiaine</dt>
                    <dd>{{ page.subject }}</dd>
                    <dt>Asiasanat</dt>
                    <dd>
                        {% for keyword in page.keywords.all %}
                            <span class="label label-primary">{{ keyword }}</span>
                        {% endfor %}
                    </dd>
                  </dl>

                </div>
                <div class="content col-md-8">
                  {{ page.content|safe }}
                </div>
          </div>
        </div>
    </section>
{% endblock %}
