{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}helsinkioppii-index-page{% endblock %}

{% block content %}
    <section class="hero">
        {% image page.hero_image original as hero_image %}
            {% if hero_image %}
                <div class="image-container">
                    <div class="image" style="min-height: 400px; background-image: url('{{ hero_image.url }}')"></div>
                </div>
        {% endif %}
        <div class="container">
            <h1 class="title">{{ page.hero_title }}</h1>
        </div>
    </section>

    <section class="case-lifts">
        <div class="container">
            <div class="row">
                {% for block in page.case_lifts %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
