{% extends "base.html" %}
{% load wagtailcore_tags content_tags people_tags %}

{% block body_class %}template-contentpage{% endblock %}

{% block content %}
    <section class="title-section">
        <div class="container">
            <h1 class="page-title text-left">{{ page.title }}</h1>
        </div>
    </section>

    <section class="main-section section--content">
        <div class="container">
            <div class="row">
                <article class="col-md-8 content">
                    {% include "content/blocks.html" with blocks=page.body only %}
                </article>
                <aside class="col-md-4">
                    {% include "content/includes/sidebar_links_and_roles.html" %}
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
