{% extends "base.html" %}
{% load wagtailcore_tags digi_tags static wagtailimages_tags %}

{% block content %}
<section class="main-section section--page-header">
  <div class="container">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>
  <div class="page-header-koro"></div>
</section>

<div class="container main-container page-content" role="main">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        {% for news_item in news|slice:":1" %}
        <div class="col-xs-12">
          <div class="news-index-highlight" style="background-image: url('{{ news_item.image }}')">
            <a class="link-unstyled" href="{{ news_item.real_link }}">
              <div class="blog-highlight-content">
                <div class="blog-hilight-header hyphenate"><h2>{{ news_item.title }}</h2>
                  <small>{{ news_item.published|convert_datetime|date:"j.n.Y" }}</small>
                </div>
                <div class="blog-highlight-blurb">{{ news_item.parsed_description|first_p|truncatechars_html:280|safe }}</div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    {% if news %}
        <ul class="blog-index list-unstyled the-loop row">
        {% for news_item in news|slice:"1:" %}
            <li class="blog-post-item{% if forloop.first and not category and not tag %} first-reset{% endif %} match-height">
                {% include 'news/news_post.html' with include_context="index_page" %}
            </li>
        {% endfor %}
        </ul>

        <ul class="pager">
        {% if news.has_next %}
          <li class="previous"><a href="?page={{ news.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&larr; Vanhempi</a></li>
        {% endif %}
        {% if news.has_previous %}
          <li class="next"><a href="?page={{ news.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Uudempi &rarr;</a></li>
        {% endif %}
        </ul>

    {% else %}
        <p>Uutisissa ei tällä hetkellä ole julkaistuja kirjoituksia</p>
    {% endif %}
  </div>
{% endblock %}
