{% extends "base.html" %}

{% block content %}
<div class="container main-container page-content" role="main">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-title">Koulujen digitalisaatiosuunnitelmat</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <span class="toc-anchor" id="toc-A-E"></span>
        <h2>A-E</h2>
          <div class="file-list__item">
            <h4>Helsingin Medialukio</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> helsingin-medialukio.pdf</a>
          </div>
          <div class="file-list__item">
            <h4>Hertsikan ala-aste</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> hertiskan-ala-aste.pdf</a>
          </div>
        <span class="toc-anchor" id="toc-F-K"></span>
        <h2>F-K</h2>
          <div class="file-list__item">
            <h4>Helsingin Medialukio</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> helsingin-medialukio.pdf</a>
          </div>
          <div class="file-list__item">
            <h4>Hertsikan ala-aste</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> hertiskan-ala-aste.pdf</a>
          </div>
        <span class="toc-anchor" id="toc-L-O"></span>
        <h2>L-O</h2>
          <div class="file-list__item">
            <h4>Helsingin Medialukio</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> helsingin-medialukio.pdf</a>
          </div>
          <div class="file-list__item">
            <h4>Hertsikan ala-aste</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> hertiskan-ala-aste.pdf</a>
          </div>
        <span class="toc-anchor" id="toc-P-S"></span>
        <h2>P-S</h2>
          <div class="file-list__item">
            <h4>Helsingin Medialukio</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> helsingin-medialukio.pdf</a>
          </div>
          <div class="file-list__item">
            <h4>Hertsikan ala-aste</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> hertiskan-ala-aste.pdf</a>
          </div>
        <span class="toc-anchor" id="toc-T-Z"></span>
        <h2>T-Z</h2>
          <div class="file-list__item">
            <h4>Helsingin Medialukio</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> helsingin-medialukio.pdf</a>
          </div>
          <div class="file-list__item">
            <h4>Hertsikan ala-aste</h4>
            <a href="doc/" class="file-list__link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> hertiskan-ala-aste.pdf</a>
          </div>
      </div>
      <div class="col-md-4">
        <div class="floating-sidebar affix" id="js-affix">
          <nav class="pagenav" id="js-navbar">
            <h5>Tällä sivulla</h5>
              <ul class="nav nav-stacked">
                <li><a href="#toc-A-E">A-E</a></li>
                <li><a href="#toc-F-K">F-K</a></li>
                <li><a href="#toc-L-O">L-O</a></li>
                <li><a href="#toc-P-S">P-S</a></li>
                <li><a href="#toc-T-Z">T-Z</a></li>
              </ul>
          </nav>
          </div>
      </div>
    </div>
{% endblock %}

