{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block menu %}
    {% include "naistenhelsinki/includes/top_menu.html" %}
{% endblock %}

{% block content %}
    <div class="container main-container page-content" role="main">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-title">{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <!-- Grid layout needs rework to wrap and align properly -->
            {% for place in page.places %}
                <div class="col-sm-6 col-md-4">
                    <div class="place-preview match-height">
                        <h3>{{ place.title }}</h3>
                        {% image place.image fill-560x420 %}
                        <p>{{ place.description|richtext }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
