@import 'hel-bootstrap-3/src/sass/helsinki-variables';
@import 'digihel/static/css/application-variables';

$icon-font-path: '../bootstrap-sass/assets/fonts/bootstrap/';

@import 'hel-bootstrap-3/src/sass/theme-bootstrap-variables';
@import 'digihel/static/css/bootstrap-custom';
@import 'hel-bootstrap-3/src/sass/theme-custom-styles';
@import 'digihel/static/css/digihel-icons';
@import 'digihel/static/css/common-styles';


.page-footer {
  margin-top: 0;
}

.main-section {
  position: relative;
}

.container--hero {
  background-size: cover;
  background-position: center;

  .edu-hero-koro {
    @include koro("storm", $white, 400);
    width: 100%;
    height: $line-height-computed * 3;
    position: absolute;
    bottom: 0;
  }
}

.section--edu-banners {
  padding: $line-height-computed * 2 0;
}

.banner--edu {
  background-color: $hel-suomenlinna;
  padding: $line-height-computed;
  text-align: center;
  margin-bottom: $line-height-computed;

  a {
    text-decoration: none;
  }

  .banner-illustration {
    height: $line-height-computed * 8;
    text-align: center;

    svg {
      height: 100%;
    }
  }
}

.section--highlights {
  background-color: $hel-coat;
  padding: $line-height-computed * 5 0;
}

.highlights-koro__top {
  @include koro("pulse", $hel-coat, 600);
  background-color: $white;
  width: 100%;
  height: $line-height-computed * 3;
  position: absolute;
  top: 0;
}

.section--social-feed {
  background-color: $hel-suomenlinna;
  padding: $line-height-computed * 5 0;
}

.social-koro__top {
  @include koro("pulse", $hel-suomenlinna, 600);
  background-color: $hel-coat;
  width: 100%;
  height: $line-height-computed * 3;
  position: absolute;
  top: 0;
}

.section--case-filters {
  background-color: $hel-engel;
  padding: $line-height-computed * 2 0;
}

.section--cases-list {
  padding-top: $line-height-computed * 3;
  background-color: $hel-silver;
}

.cases-list {
  @extend .row;

  .case-card {
    background: $white;
    margin-bottom: $line-height-computed * 2;
  }

  h3 {
    margin-top: 0;

    a, a:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .project-card,
  .caption {
    height: auto;
    position: relative;
  }

  .caption {
    padding: $line-height-computed;
  }

  img {
    min-width: 0;
    width: 100%;
  }
}

.section--case-header {
  padding: 0 0 $line-height-computed 0;
  .title {
    font-size: 60px;
  }
}

.section--case-hero {
  height: $line-height-computed * 16;
}

.case-meta {
  padding: $line-height-computed / 2;
  margin-bottom: $line-height-computed;
  border: 1px solid $hel-silver;

  dl dt {
    margin-bottom: 0;
  }

  .case-meta--basics, .case-meta--tags {

    &:before {
      content: "";
      display: block;
      border-top: 3px solid $hel-copper;
      width: 24px;
      margin-bottom: 12px;
    }
  }

}

.container--case-hero {
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .hero-caption {
    @include koro("storm", $white, 400);
    width: 100%;
    height: $line-height-computed * 3;
    position: absolute;
    bottom: 0;
  }

  .caption-content {
    display: block;
    position: absolute;
    bottom: 0;
    right: $line-height-computed;
    font-size: $font-size-small;
    color: $hel-silver;
  }
}

.case-section-header {
  border-bottom: 4px solid $hel-copper;
  float: left;
  font-size: 24px;
  margin-bottom: 1em;
  margin-top: 0;
  padding-bottom: .5em;
  text-transform: uppercase;

  a, a:hover {
    color: $text-color;
    text-decoration: none;
  }
}

// ILLUSTRATIONS

.banner-illustration {
  .illustration {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: $line-height-computed * 8;
    width: 100%;
  }
  .icon-signpost {
    background-image: url(data:image/svg+xml,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20450%20450%22%3E%3Ctitle%3Edigieducases%3C/title%3E%3Cpath%20d%3D%22M170.35%20304.32h118.18q-6.82%2040.6-13.63%2081.22a1.13%201.13%200%200%201%200%20.18c-.25%201.7-.46%201.64-.59%201.74a5.25%205.25%200%200%201-2.26.68c-3%20.43-8.36-.25-14.21.1h-71.78a1.58%201.58%200%200%201-1.18-.67%208.94%208.94%200%200%201-1.34-3.26c-.86-3.54-.84-9.17-2.45-15.24q-5.37-32.37-10.75-64.73zm141.94-30.69c2.25.05%202.88.72%203.66%201.78a9.37%209.37%200%200%201%201.35%206%209.51%209.51%200%200%201-2.49%205.78c-1.14%201.07-2%201.66-5.12%201a8.06%208.06%200%200%200-1.77-.19H147.56c-2.79.11-3.7-.57-4.69-1.72a9.21%209.21%200%200%201%200-10.86c1-1.15%201.92-1.85%204.71-1.74h163.63a7.62%207.62%200%200%201%201.07%200zm31.24-125.94c3.38%200%206.77.11%2010.17.24-12.25%2023.16-26.73%2045.25-49.77%2052.81-7.89%202.33-16.49%202-24.94-.17q10.47-7.32%2021-14.66a7.88%207.88%200%200%200%202.23-2.3%208.17%208.17%200%200%200%201.18-3%208.08%208.08%200%200%200-.06-3.21%208%208%200%200%200-1.3-2.93%208.09%208.09%200%200%200-5.31-3.37%208.41%208.41%200%200%200-3.2.08%208.2%208.2%200%200%200-2.92%201.31l-19.84%2013.88c2.36-8.42%206.34-16.08%2012.33-21.77%2015.72-14.09%2037.73-17.05%2060.45-16.94zm-248.16-86c26.94%200%2053.21%203.54%2073.95%2018.55%2012.84%209.6%2020.33%2024.9%2023.52%2041.33l-43.52-26.8a8.44%208.44%200%200%200-3-1.16%208.25%208.25%200%200%200-3.21.09%208.12%208.12%200%200%200-2.93%201.3%208%208%200%200%200-2.18%202.37%208.43%208.43%200%200%200-1.11%203%208.07%208.07%200%200%200%20.14%203.21%207.83%207.83%200%200%200%201.37%202.9%208.19%208.19%200%200%200%202.38%202.16l42%2025.85c-14.88%204.52-30.58%205.14-44.31-.73-28.91-12.94-46.84-41.94-62.23-71.6%206.39-.29%2012.8-.5%2019.16-.5zm.16-16.44c-10.78%200-21.39.62-31.55%201.21a8.16%208.16%200%200%200-4.48.83%208%208%200%200%200-3.33%203.11%201.83%201.83%200%200%200-.18.3s-.05.08-.06.13a8.17%208.17%200%200%200%20.54%208.61c16.72%2033.21%2036.61%2072%2075.35%2089.29l.11.05c22.7%209.76%2047.53%205.87%2068.43-3.4%206.95%204.27%2013.91%208.57%2020.84%2012.84v99.11h-73.29a22.4%2022.4%200%200%200-17.41%207.43%2025.5%2025.5%200%200%200%200%2032.16%2022.31%2022.31%200%200%200%2017.4%207.4h5.9l11.25%2067.76a6%206%200%200%200%20.19.86c.78%202.78.89%208.77%202.44%2015.2a23.54%2023.54%200%200%200%204.72%209.94%2019.47%2019.47%200%200%200%2011.6%206.36%207.31%207.31%200%200%200%201.33.11h73.3c3.06-.2%209.11.72%2015.76-.24a20.11%2020.11%200%200%200%2010.45-4.37%2019.23%2019.23%200%200%200%206.2-11.7q7-42%2014.09-83.92h2a22.15%2022.15%200%200%200%2018.77-5.13%2026.28%2026.28%200%200%200%203.1-33.61%2022%2022%200%200%200-18.32-8.25H237.5v-27.77l24.89-17.4c14.05%206%2030.3%209%2046.27%204.21.06%200%20.13-.05.21-.06%2034.22-11.17%2051.07-44.3%2064.61-71.14a8.27%208.27%200%200%200%201.53-4.31%208.12%208.12%200%200%200-1-4.45l-.16-.28-.08-.13a8.19%208.19%200%200%200-3.32-3%208.29%208.29%200%200%200-4.42-.81c-30-1.71-67.16-3.68-93.94%2020.39l-.16.14C258.57%20165.33%20253.25%20183%20252%20199.53l-14.45%2010.1V83.09a8.09%208.09%200%200%200-.59-3.15%208.35%208.35%200%200%200-1.76-2.7%208.15%208.15%200%200%200-9-1.8%208.29%208.29%200%200%200-2.66%201.8%208.06%208.06%200%200%200-1.75%202.7%208.16%208.16%200%200%200-.59%203.15V139l-10.48-6.44c-1.66-24.08-10.56-49.68-31.66-65.46l-.1-.06C154%2049%20124.18%2045.15%2095.51%2045.24z%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
  }

  .icon-lifering {
    background-image: url(data:image/svg+xml,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20450%20450%22%3E%3Ctitle%3Edigiedutraining%3C/title%3E%3Cpath%20d%3D%22M187.23%20130.63a58.94%2058.94%200%201%200%2095.89%2055.07h-57.9a9.67%209.67%200%200%201-3.21-.46%2010.23%2010.23%200%200%201-3.43-1.91%2010.08%2010.08%200%200%201-2.1-2.56zm67.77-5.48l-15.74%2040.9h43.83a59%2059%200%200%200-28.09-40.9zm-50.85-4.44l19%2032.54%2013.53-35.14a59.45%2059.45%200%200%200-32.52%202.61zm-57.78%2055.17A78.59%2078.59%200%201%201%20225%20254.47a78.57%2078.57%200%200%201-78.59-78.59zM97.3%2077.65v186.63a9.85%209.85%200%200%200%209.85%209.84h235.7a9.86%209.86%200%200%200%209.85-9.84V77.65zM225%20372.35a9.83%209.83%200%201%200-9.82-9.82%209.83%209.83%200%200%200%209.82%209.82zm9.83-78.58v41a29.48%2029.48%200%201%201-19.65%200v-41h-108a29.49%2029.49%200%200%201-29.5-29.49V77.65h-9.86a9.83%209.83%200%200%201%200-19.65h314.36a9.83%209.83%200%200%201%200%2019.65h-9.83v186.63a29.52%2029.52%200%200%201-29.5%2029.49z%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E%0A);
  }

  .icon-info {
    background-image: url(data:image/svg+xml,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20450%20450%22%3E%3Ctitle%3Edigiedudigitalisation%3C/title%3E%3Cpath%20d%3D%22M415.25%20281.09a10.56%2010.56%200%200%200-1.7-5.78l-115.73-179c-3.9-6-13.94-6-17.84%200l-46.12%2071.29C193.5%20128.73%2036.19%20135.2%2034.78%20187v165.43C35.65%20382%2087.63%20397.49%20139%20397.49c51.78%200%20104.23-15.73%20104.24-45.81V334.76h.29c11.8%201.14%2033.66%201.64%2045.41%201.64%2080.27.04%20126.33-20.15%20126.31-55.31zM56%20216.53c20%2011.23%2051.64%2017%2083%2017s62.94-5.77%2083-17v106.52c-40-22-126-22-166%200zm83-53.38c51.48%200%2083%2015.92%2083%2024.57s-31.52%2024.57-83%2024.57-83-15.92-83-24.57%2031.5-24.57%2083-24.57zm0%20213.1c-51.48%200-83-15.91-83-24.57s31.52-24.57%2083-24.57%2083%2015.92%2083%2024.57-31.54%2024.57-83%2024.57zm149.93-61c-11.32%200-32.27-.47-43.41-1.53a10.91%2010.91%200%200%200-2.29.06v-121.5l45.7-70.67%20104.84%20162.21c-3.62%2018.88-44.83%2031.39-104.86%2031.39z%22/%3E%3Cpath%20d%3D%22M207.36%20302.5A10.61%2010.61%200%200%200%20218%20291.89v-44.36a10.62%2010.62%200%200%200-21.23%200v44.36a10.61%2010.61%200%200%200%2010.59%2010.61zM156.31%20136.59A10.61%2010.61%200%200%200%20166.93%20126v-16a5.3%205.3%200%200%201%205.28-5.3h50.91L213%20118.9a10.63%2010.63%200%200%200%202.47%2014.81%2010.46%2010.46%200%200%200%206.16%202%2010.61%2010.61%200%200%200%208.64-4.46l22.16-31%20.12-.18.1-.16a7.45%207.45%200%200%200%20.43-.71.75.75%200%200%200%20.07-.12%2010.56%2010.56%200%200%200%20.43-9.11l-.05-.11c-.11-.25-.23-.5-.35-.74l-.14-.24c-.11-.2-.23-.39-.35-.58l-.17-.26-.09-.14-22.16-31A10.62%2010.62%200%200%200%20213%2069.29l10.14%2014.17h-50.9A26.54%2026.54%200%200%200%20145.68%20110v16a10.6%2010.6%200%200%200%2010.63%2010.59z%22/%3E%3C/svg%3E);
  }
}


