{% extends "base.html" %}
{% load wagtailcore_tags people_tags %}

{% block content %}
<div class="container main-container page-content" role="main">
    <h1>{{ page.title }}</h1>
    {% for group in page.get_groups %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ group.name }}</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        {% for person in group.people.all %}
        <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="person-list-item">
            <img src="{% person_avatar person 120 %}" class="person-list--avatar img-circle" />
            <div class="name"><h4>{{ person.get_display_name }}</h4></div>
            {% if person.title %}
            <div class="title">{{ person.title }}</div>
            {% endif %}
            {% if person.telephone %}
            <div class="telephone">{{ person.telephone }}</div>
            {% endif %}
            {% if person.email %}
            <div class="email"><a href="mailto:{{ person.email }}">{{ person.email }}</a></div>
            {% endif %}
            {% if person.theme_roles.all or person.project_roles.all %}
            <h5>Projektit</h5>
            <ul class="person-list--projectlist list-unstyled">
                {% for role in person.theme_roles.all %}
                <li>
                    <div>{{ role.role }}</div>
                    <a href="{% pageurl role.theme %}">{{ role.theme.title }}</a>
                </li>
                {% endfor %}
                {% for role in person.project_roles.all %}
                <li>
                    <div>{{ role.role }}</div>
                    <a href="{% pageurl role.project %}">{{ role.project.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
