{% extends "base.html" %}
{% load humanize wagtailimages_tags digi_tags wagtailcore_tags %}

{% block body_class %}template-front-page{% endblock %}

{% block content %}
<div class="container-fluid header-container" role="main">
  <section class="jumbotron fullscreen-hero js-fullscreen">
      {% for block in page.hero %}
      {{ block }}
      {% endfor %}
  </section>
</div>
<div class="container main-container" role="main">
  <article class="front-page">
      <section class="indicators row">
          {% for indicator in page.indicators|slice:":3" %}
          <div class="indicator col-md-4">
              <div class="indicator-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400"><defs><style>.cls-1{fill:#f8d362;}.cls-2{fill:#807f7f;}</style></defs><title>indicator-graph</title>
                  <g id="Layer_1" data-name="graph-base"><rect class="cls-1" x="54.51" y="324.4" width="290.83" height="8.4"/></g>
                  <g id="graph-1"><rect class="cls-2" x="54.67" y="156.25" width="54" height="158.15"/></g>
                  <g id="graph-2"><rect class="cls-2" x="133.56" y="181.35" width="54" height="133.05"/></g>
                  <g id="graph-3"><rect class="cls-2" x="212.44" y="138.38" width="54" height="176.02"/></g>
                  <g id="graph-4"><rect class="cls-2" x="291.33" y="84.2" width="54" height="230.2"/></g>
                </svg>
              </div>
              <div class="indicator-value">
                  {{ indicator.value|intcomma }}
              </div>
              <div class="indicator-description">
                  {{ indicator.description }}
              </div>
          </div>
          {% endfor %}
      </section>
      <section class="themes row">
          {% for theme in page.themes|slice:":3" %}
          <div class="col-md-4">
            <div class="theme">
              {% image theme.image fill-280x210 as theme_image %}
              <a class="link-unstyled" href="{% pageurl theme %}"><img src="{{ theme_image.url }}" /></a>
              <small class="card-type">Teema</small> 
              <h3><a class="link-unstyled" href="{% pageurl theme %}">{{ theme.title }}</a></h3>
              <p>{{ theme.short_description }}</p>
            </div>
          </div>
          {% endfor %}
      </section>
      <section class="misc row">
          <div class="col-md-8">
            <div class="blogs">
              {% for blog in page.blog_posts|slice:":3" %}
              <div class="blog-post">
                  <small class="card-type">Blogi</small>
                  <h3><a class="link-unstyled" href="{% pageurl blog %}">{{ blog.title }}</a></h3>
                  {{ blog.body|first_p|safe }}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-4">
            <div class="manual-and-events">
              <div class="manual-links">
                  <h2>Digitaalisten palveluiden kehittämisopas</h2>
              </div>
              <div class="events">
                  <h2>Tapahtumat</h2>
              </div>
            </div>
          </div>
      </section>
  </article>
</div>
{% endblock %}
