{% extends "base.html" %}
{% load wagtailcore_tags content_tags static people_tags guide_tags %}

{% block body_class %}template-contentpage{% endblock %}

{% block content %}
<div class="container main-container guidepage-container" role="main">
    {% block breadcrumb %}
    {% if self.get_ancestors|length > 1 %}
    <ol class="breadcrumb">
        {% for page in self.get_ancestors %}
        {% if not page.is_root and not page.get_parent.is_root %}
        <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="active">{{ self.title }}</li>
    </ol>
    {% endif %}
    {% endblock breadcrumb %}
    <div class="row">
        <div class="col-md-8 content">
            <h1>{{ page.title }}</h1>
            {% include "content/blocks.html" with blocks=page.body only %}
        </div>
        <div class="col-md-4">
            <div class="partner-banner partner-banner--side">
                <div class="partner-banner__logo"><img alt="6Aika" src="{% static "images/6aika-color.svg" %}" class="partner-logo" aria-hidden="true"></div>
                <div class="partner-banner__logo"><img alt="Vipuvoimaa EU:lta 2014-2020" src="{% static "images/eu-vipuvoimaa-color.svg" %}" class="partner-logo" aria-hidden="true"></div>
                <div class="partner-banner__logo"><img alt="Euroopan aluekehitysrahasto" src="{% static "images/eu-aluekehitys-color.svg" %}" class="partner-logo" aria-hidden="true"></div>
            </div>
            {% include "content/blocks.html" with blocks=page.sidebar only %}
            <nav class="sidenav">
                {% sidebar_page_nav page %}
            </nav>
        </div>
    </div>
</article>
{% endblock %}
