{% extends "base.html" %}
{% load humanize wagtailimages_tags digi_tags wagtailcore_tags people_tags %}

{% block content %}

<section class="main-section section--theme-header">
  <div class="container">
      <h2 class="project-section-header"><a href="/projektit">{{ page.type }}</a></h2>
      <h1 class="theme-title">{{ page.title }}</h1>
  </div>
  <div class="page-header-koro"></div>
</section>

<section class="main-section section--content">
  <div class="container">
    <div class="row">
        <div class="theme-info col-md-8">
            {% phases_indicator page.phase %}
            <div class="theme-box">
                {% image page.image width-800 as page_image %}
                <img src="{{ page_image.url }}" class="theme-header-image"/>
                <div class="description">
                    {% for block in page.body %}
                    {{ block }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% include "includes/sidebar_links_and_roles.html" %}
            {% include "includes/sidebar_twitter_feed.html" %}
        </div>
    </div>
  </div>
</section>

{% if projects and projects.exists %}
    {% include "includes/projects_section.html" with section_title=projects_title projects=projects %}
{% endif %}
{% endblock %}
