{% extends "base.html" %}
{% load humanize wagtailimages_tags digi_tags wagtailcore_tags people_tags %}

{% block content %}
<div class="container main-container page-content" role="main">
    <div class="row">
        <header class="page-header">
            <small class="card-type">{{ page.type }}</small>
            <h2>{{ page.title }}</h2>
        </header>
    </div>
    <div class="row">
        <div class="theme-info col-md-8">
            <div class="theme-box">
                {% image page.image width-800 as page_image %}
                <img src="{{ page_image.url }}" class="theme-header-image"/>
                <div class="description">
                    {% for block in page.body %}
                    {{ block }}
                    {% endfor %}
                </div>
            </div>
            {% if page.projects.exists %}
            <div class="theme-projects">
                <h3>Teeman projektit</h3>
                <ul class="theme-projects-list">
                    {% for project in page.projects %}
                    <li class="list-unstyled media">
                        <div class="media-left">
                            <a href="{% pageurl project %}">
                                {% image project.image fill-200x200 as project_image %}
                                <img src="{{ project_image.url }}" class="project-thumbnail"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ project.title }}</h4>
                            <p>{{ project.short_description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if page.links.all %}
            <div class="manual-links">
                <h3>Linkkejä</h3>
                <ul>
                    {% for link in page.links.all %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if page.roles.all %}
            <div class="contacts-list">
                <h3>Ota yhteyttä</h3>
                <ul class="list-unstyled">
                    {% for role in page.roles.all %}
                    <li class="media">
                        <div class="media-left">
                            <a href="#"><img src="{% person_avatar role.person 240 %}" class="user-thumbnail"/></a>
                        </div>
                        <div class="media-body">
                            <h4>{{role.person.get_display_name}}</h4>
                            <span>{{role.role}}</span>
                            {% if role.person.email %}
                            <div class="email"><a href="mailto:{{ person.email }}">{{ role.person.email }}</a></div>
                            {% endif %}
                            {% if role.person.telephone %}
                            <div class="telephone">{{ role.person.telephone }}</div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}
