{% extends "base.html" %}
{% load humanize wagtailimages_tags digi_tags wagtailcore_tags people_tags %}

{% block content %}
<div class="container main-container page-content" role="main">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="project-section-header"><a href="/projektit">{{ page.type }}</a></h2>
            <h1 class="theme-title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="theme-info col-md-8">
            {% phases_indicator page.phase %}
            <div class="theme-box">
                {% image page.image width-800 as page_image %}
                <img src="{{ page_image.url }}" class="theme-header-image"/>
                <div class="description">
                    {% for block in page.body %}
                    {{ block }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% include "includes/sidebar_links_and_roles.html" %}
            {% include "includes/sidebar_twitter_feed.html" %}
        </div>
  </div>
</div>
{% if page.projects.exists %}
<section class="sub-section section--projects bg-info">
    <div class="container">
      <h2 class="text-center">Teeman projektit</h2>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="theme-projects">
              {% for project in page.projects %}
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project-card">
                  {% image project.image fill-400x300 as project_image %}
                  <img src="{{ project_image.url }}" class="project-thumbnail"/>
                  <div class="caption">
                    <h3 class="hyphenate">{{ project.title }}</h2>
                    <p class="flex-text text-muted">{{ project.short_description }}</p>
                    <p class="text-center"><a class="btn btn-default" href="{% pageurl project %}">Lue lisää</a></p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}