{% extends "base.html" %}
{% load humanize wagtailimages_tags digi_tags wagtailcore_tags %}

{% block content %}
<div class="container main-container page-content" role="main">
    <div class="row">
        <div class="theme-info col-md-8">
            <div class="theme-box">
                <header class="page-header">
                    <small class="card-type">Teema</small>
                    <h2>{{ page.title }}</h2>
                </header>
                {% image page.image width-800 as theme_image %}
                <img src="{{ theme_image.url }}" class="theme-header-image"/>
                <div class="description">
                    {% for block in page.body %}
                    {{ block }}
                    {% endfor %}
                </div>
            </div>
            <div class="theme-projects">
                <h3>Teeman projektit</h3>
                <ul class="theme-projects-list">
                    {% for project in page.projects %}
                    <li class="list-unstyled media">
                        <div class="media-left">
                            <a href="#">
                                {% image project.image fill-200x200 as project_image %}
                                <img src="{{ project_image.url }}" class="project-thumbnail"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ project.title }}</h4>
                            <p>{{ project.short_description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="manual-links">
                <h3>Digitaalisten palveluiden kehittämisopas</h3>
                <ul>
                    <li><a href="#">Eka linkki</a></li>
                </ul>
            </div>
            <div class="contacts-list">
                <h3>Ota yhteyttä</h3>
                <ul class="list-unstyled">
                    {% for x in "xxx" %}
                    <li class="media">
                        <div class="media-left">
                            <a href="#"><img src="https://placehold.it/100x100"  class="user-thumbnail"/></a>
                        </div>
                        <div class="media-body">
                            <p class="pull-right">In in pulvinar lacus, nec scelerisque mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur et tristique diam, vel cursus ante. Sed facilisis vitae risus eget facilisis. Integer felis risus, posuere id commodo et, interdum et sem. Aliquam rhoncus malesuada mollis.</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
{% endblock %}
