@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bold-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-italic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-regular-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}