@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bold-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-italic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-regular-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@import 'bootstrap-variables';
@import 'bourbon/app/assets/stylesheets/bourbon';
@import 'bootstrap-custom';

$topnaviheight: 80px;
$helsinkiyellow: #ffc72b;
$helsinkiblue: #005eb8;
$helsinkiturquoise: #05c2de;
$helsinkired: #d10057;

$brand-red: $helsinkired;
$brand-blue: $helsinkiblue;
$brand-yellow: $helsinkiyellow;
$brand-turquoise: $helsinkiturquoise;

$white: #fff;

$modular-scale-ratio: $major-third;
$modular-scale-base: 1em;

//* Global */

.left {
  float: left;
}

.right {
  float: right;
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;

  &:link {
    color: inherit;
    text-decoration: inherit;
  }
}

//* Navigation */

.navbar {
  border: 0;
  min-height: $topnaviheight;
  position: fixed;
  width: 100%;
  z-index: 10;

  .drop-search {
    @include transition(all .5s ease-in-out);
    display: none;
  }

  .mobile-search {
    margin: 15px;
  }
}

.navbar-inverse {
  background-color: $helsinkiblue;
  background-image: none;

  li > a {
    color: $white;
  }
}

.nav.navbar-nav {
  margin-top: 11px;
}

.navbar-brand {
  color: $white;

  .navbar-logo {
    float: left;
    height: 48px;
    margin-right: 15px;
    width: 48px;
  }

  .site-title {
    color: $white;
    float: left;
    font-size: 16px;
    margin: 15px 0;
  }
}

@media screen and (min-width: 768px) {
  .navbar .navbar-brand {
    font-size: 20px;
    height: auto;
  }

  .navbar-nav > li > a {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .navbar-nav > li:not(.disabled).is-open > a,
  .navbar-nav > li:not(.disabled).active > a,
  .navbar-nav > li:not(.disabled) > a:hover,
  .navbar-nav > li:not(.disabled) > a:focus {
    background: none;
    box-shadow: none;
  }

  .navbar-nav > li.disabled > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar .drop-search {
    background-color: $helsinkiblue;
    border-top: 1px solid $white;
    display: block;
    padding: 48px 24px;
    position: absolute;
    top: 100%;
    transform: rotateX(-90deg);
    transform-origin: 0 0 0;
    visibility: hidden;
    width: 100%;
  }

  .navbar .drop-search.is-open {
    transform: rotateX(0deg);
    visibility: visible;
  }

  .navbar .drop-search > .container {
    padding: 0;
  }

  .menuitem-login {
    border-left: 1px solid lighten($helsinkiblue, 20%);
    border-right: 1px solid lighten($helsinkiblue, 20%);
  }
}

.glyphicon-home::before {
  content: none;
}

.caret {
  display: none;
}

.page-content {
  padding-top: $topnaviheight;
}

.breadcrumb {
  margin: 26px 0;
}

//** Front page **/

.container .jumbotron,
.container-fluid .jumbotron {
  @include linear-gradient(darken($brand-primary, 20%), $brand-primary);
  color: $white;
  height: 500px;
  margin-bottom: 4em;
  padding: 0;
  position: relative;
  width: 100% !important;
}

.container .jumbotron,
.container-fluid .jumbotron,
.indicators.row,
.col-md-8.blogs {
  box-shadow: 0 0 1px 1px $white;
}

.container-fluid.header-container {
  padding: 0;
}

.front-page {
  .manual-links,
  .events {
    box-shadow: 0 0 1px 1px $white;
  }

  .manual-and-events h2 {
    font-size: 16px;
  }
}

.jumbotron {
  h2 {
    font-size: 36px;
    line-height: 1.4em;
    margin-bottom: 20px;

    i {
      color: $white;
      font-style: normal;
      text-shadow: 0 0 1px $white;
    }

  }

  a {
    color: $white;
    text-shadow: 0 0 1px $white;
  }

  .rich-text {
    color: $white;
    font-size: 36px;
    padding: 48px 10%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
  }
}

//* Indicators */

.indicators,
.col-md-4,

.col-md-8 {
  border-radius: 10px;
}

.indicators.row {
  margin-bottom: 4em;
  padding: 1.5em 0;
}

.indicator.col-md-4 {
  background-color: transparent;
  border: 0;
}

.indicator-icon {
  margin: 0 auto;
  width: 100px;

  svg:hover {
    #graph-1,
    #graph-2,
    #graph-3,
    #graph-4 {
      @include animation(scaling 1s ease-in);
      @include transform-origin(center bottom);
    }

    #graph-1 {
      @include animation-delay (.1s);
    }

    #graph-2 {
      @include animation-delay (.2s);
    }

    #graph-3 {
      @include animation-delay (.3s);
    }

    #graph-4 {
      @include animation-delay (.4s);
    }
  }
}

@keyframes scaling {
  0% {
    @include transform (scaleY(0));
  }

  100% {
    @include transform (scaleY(1));
  }
}

.indicator-value {
  font-weight: 900;
}

.front-page {
  .indicators {
    text-align: center;
  }

  .indicator-value {
    font-size: 36px;
  }

  .indicator-description {
    text-transform: uppercase;
  }
}

//* Box stylings */

.indicators.row,
.col-md-8.blogs {
  background-image: linear-gradient(to bottom, $brand-primary  0, $white 100%);
  //border-top: 10px;
  //border-right: 3px;
  //border-bottom: 3px;
  //border-left: 3px;
  //border-style: solid;
  //border-color: #1975d1;
  border-radius: 0;
}

.front-page {
  .manual-links,
  .events {
    background-image: linear-gradient(to bottom, $brand-primary 0, $white 100%);
    border: 3px;
    border-color: $brand-primary;
    border-style: solid;
  }

  .theme {
    //order-top: 10px;
    //border-right: 3px;
    //border-bottom: 3px;
    //border-left: 3px;
    border: 0;
    border-radius: 0;
    border-style: solid;

    &:first-child {
      background-image: linear-gradient(to bottom, lighten($brand-yellow, 50%) 0, $white 100%);
    }

    &:nth-child(2) {
      background-image: linear-gradient(to bottom, lighten($brand-turquoise, 50%) 0, $white 100%);
    }

    &:last-child {
      background-image: linear-gradient(to bottom, lighten($brand-red, 50%) 0, $white 100%);
    }
  }
}

.container .richtext-image .full-width,
.block-image .full-width {
  height: 100%;
  width: 100%;
}

.front-page {

  section {
    margin-bottom: 3em;
  }

  .theme {
    height: 100%;
    padding: 1em;

    img {
      width: 100%;
    }
  }

  .card-type {
    @include clearfix;
    border-bottom: solid 3px $brand-primary;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .blogs h3 {
    margin-top: 0;
  }

  .blog-post {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }

  .col-md-4.manual-and-events {
    background: none;
    padding-left: 0;
    padding-right: 0;
  }

  .manual-links,
  .events {
    background-color: $white;
    border-radius: 6px;
    margin-bottom: 2em;
    padding: 0 1em 1em;
  }
}

.blog-post:last-child {
  border-top: 1px dotted $gray-base;
  margin-top: 0;
  padding-top: 1em;
}

.page-footer {
  background-color: $gray-darker;
  color: $white;
  margin-top: 4em;
  min-height: 20em;
  padding-top: 2em;

  .footer-links {
    list-style: none;
    padding-left: 0;
  }
}

//* Bootsrap grid changes */

@media (max-width: 1200px) {
  .jumbotron .rich-text {
    background-image: none;
  }
}

@media (min-width: 992px) {
  .navbar-header {
    width: 40%;
  }

  .container .jumbotron,
  .container-fluid .jumbotron {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .themes.row {
    align-content: stretch;
    display: flex;
  }
}

@media (max-width: 991px) {

  .theme.col-md-4 {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .blogs.col-md-8 {
    margin-bottom: 2em;
  }

  .navbar.navbar-inverse .container {
    max-width: 98%;
    min-width: 98%;
  }

  .navbar-form {
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .navbar.navbar-inverse {
    //border-bottom: 5px solid black;
  }
}
