{% load wagtailcore_tags digi_tags static wagtailimages_tags social_widgets comments %}

{% if include_context == "index_page" %}
<div class="blog-post-preview">
  <div class="blog-post-header">
{% else %}
<div class="container main-container page-content blog-post-container" role="main">
    <div class="row">
    <div class="col-xs-12">
        <h2 class="blog-section-header"><a href="{{ self.get_blog_index.url }}">{{self.get_blog_index.title}}</a></h2>
    </div>
  <div class="page-header-blogpost col-xs-12 col-sm-10">
{% endif %}

  <a class="blog-post-link" href="{% pageurl blog %}">
      {% image blog.header_image max-1920x1080 as blog_image %}
      <div class="blog-post-main-image" style="background-image: url('{{ blog_image.url }}')">
      </div>
      <h2 class="hyphenate">{{ blog.title }}</h2>
  </a>

  </div>
  {% if include_context == "index_page" %}
  <div class="blog-intro">
      {% if blog.date %}
        <div class="blog-post-date">{{ blog.date|date:"j.n.Y" }}</div>
      {% endif %}
      {{ blog.body|richtext|first_p|safe }}
      <a href="{% pageurl blog %}">Lue koko kirjoitus &raquo;</a>
  </div>
  {% else %}
    </div>
    <div class="row">
  <div class="col-sm-2">
    <div class="meta blog-post-meta">
    {% if blog.date %}
      <div class="blog-post-date">
          <div class="blog-post-date">{{ blog.date|date:"j.n.Y" }}</div>
      </div>
  {% endif %}
      <ul class="social-widgets">
        <li>{% social_widget_render "facebook/share_button.html" href=blog.url layout="button" %}</li>
        <li>{% social_widget_render "twitter/share_button.html" href=blog.url hashtag="digihelsinki" %}</li>
      </ul>
      {% get_comment_count for blog as comment_count %}
      <div class="blog-comment-count"><a href="#kommentit" class="link-unstyled">{{ comment_count }} kommentti{{ comment_count|pluralize:"a" }}</a></div>
      <div class="blog-post-tags">
          {% if blog.tags.all %}
                  {% for tag in blog.tags.all %}
                      <a href="{% url 'blog:tag' tag.slug %}/" class="label label-info">{{ tag }}</a>{% if not forloop.last %} {% endif %}
                  {% endfor %}
          {% endif %}
      </div>
      <div class="blog-post-categories">
          {% if blog.categories.all %}
              Posted in 
                  {% for cat in blog.categories.all %}
                      <a href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %} |
          {% endif %}
      </div>
  </div>
</div>
  <div class="blog-body col-sm-8">
      {% phases_indicator page.phase %}
      {{ blog.body|richtext }}
  </div>
    </div>
  {% endif %}

</div>
