{% load wagtailcore_tags digi_tags static wagtailimages_tags %}

{% if include_context == "index_page" %}
<div class="blog-post-preview">
  <div class="blog-post-header">
{% else %}
<div class="container main-container blog-post-container" role="main">
    <div class="row">
    <div class="col-xs-12">
        <h2 class="blog-section-header"><a href="/blogikirjoitukset">Blogi</a></h2>
    </div>
  <div class="page-header-blogpost col-xs-12 col-sm-10">
{% endif %}

  <a class="blog-post-link" href="{% pageurl blog %}">
      {% image blog.header_image max-1920x1080 as blog_image %}
      <div class="blog-post-main-image" style="background-image: url('{{ blog_image.url }}')">
      </div>
      <h2>{{ blog.title }}</h2>
  </a>

  </div>
  {% if include_context == "index_page" %}
  <div class="blog-intro">
      {% if blog.date %}
        <div class="blog-post-date">{{ blog.date|date:"j.n.Y" }}</div>
      {% endif %}
      {{ blog.body|richtext|first_p|safe }}
      <a href="{% pageurl blog %}">Lue koko kirjoitus &raquo;</a>
  </div>
  {% else %}
    </div>
    <div class="row">
  <div class="col-sm-2">
    <div class="meta">
    {% if blog.date %}
      <div class="blog-post-meta meta date">
          <div class="blog-post-date">{{ blog.date|date:"j.n.Y" }}</div>
      </div>
  {% endif %}
      <div class="tags">
          {% if blog.tags.all %}
                  {% for tag in blog.tags.all %}
                      <a href="{% url 'blog:tag' tag.slug %}/" class="label label-info">{{ tag }}</a>{% if not forloop.last %} {% endif %}
                  {% endfor %}
          {% endif %}
      </div>
      <div class="tags-and-comments">
          {% if blog.categories.all %}
              Posted in 
                  {% for cat in blog.categories.all %}
                      <a href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %} | 
          {% endif %}
      </div>
  </div>
</div>
  <div class="blog-body col-sm-8">
      {{ blog.body|richtext }}
  </div>
    </div>
  {% endif %}

</div>
