{% load wagtailcore_tags static %}

{% if include_context == "index_page" %}
<div class="blog-post-preview">
  <div class="blog-post-header">
{% else %}
<div class="container main-container blog-post-container" role="main">
  <div class="page-header">
{% endif %}

  <a class="blog-post-link" href="{% pageurl blog %}">
      <h2>{{ blog.title }}</h2>
  </a>

  {% if blog.date %}  
      <div class="blog-post-meta meta date">
        <div class="blog-post-author-image"><img class="media-object" src="http://placekitten.com/72/72" alt="{{ blog.author }}"></div>
        <div class="blog-post-author-details">
          <h4 class="media-heading blog-post-author">{{ blog.author }}</h4>
          <div class="blog-post-date">{{ blog.date|date:"j.n.Y" }}</div>
        </div>
      </div>
  {% endif %}
  </div>
  {% if include_context == "index_page" %}
  <div class="blog-intro">
      {{ blog.body|richtext|truncatewords_html:70 }} 
      <a href="{% pageurl blog %}">Lue koko kirjoitus &raquo;</a>
  </div>
  {% else %}
  <div class="blog-body">
      {{ blog.body|richtext }}
  </div>
  {% endif %}

  <div class="meta">
      <div class="tags">
          {% if blog.tags.all %}
              Tags: 
                  {% for tag in blog.tags.all %}
                      <a href="{% url 'blog:tag' tag.slug %}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
          {% endif %}
      </div>
      <div class="tags-and-comments">
          {% if blog.categories.all %}
              Posted in 
                  {% for cat in blog.categories.all %}
                      <a href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %} | 
          {% endif %}

          <div id="comments" class="comments">
          {% if COMMENTS_APP == 'django_comments_xtd' %}
              {% include 'blog/blog_post_comments_xtd_link.html' with blog=blog %}
          {% elif False %}
              <a href="{% pageurl blog %}#disqus_thread">No Comments</a>
          {% endif %}
          </div>
      </div>
  </div>
</div>