{% if widget.is_initial %}
    <div class="well form-well">
        <p><strong>{{ widget.initial_text }}:</strong></p>
        <div class="row">
            <div class="col-sm-3">
                <img src="{{ widget.value.url }}">
            </div>
            <div class="col-sm-6">
                <a href="{{ widget.value.url }}">{{ widget.value }}</a>
            </div>
            {% if not widget.required %}
                <div class="col-sm-3">
                    <label>
                        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
                        {{ widget.clear_checkbox_label }}
                    </label>
                </div>
            {% endif %}
        </div>
    </div>
    {{ widget.input_text }}:
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
