{% load static content_tags wagtailuserbar wagtailcore_tags compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fi"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %} - Digitaalinen Helsinki</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {# Global stylesheets #}

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/digihel.scss" %}" />
        {% endcompress %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body role="document" class="{% block body_class %}{% endblock %}">
        <div class="page-content">
          {% block content %}{% endblock %}
        </div>
        {# Global javascript #}
        {% compress js %}
            <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/digihel.js' %}"></script>
            <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'moment/locale/fi.js' %}"></script>
        {% endcompress %}
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.digi.hel.fi","*.digi.hel.ninja"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//analytics.hel.ninja/pwk/";
                _paq.push(['setTrackerUrl', u+'pw.php']);
                _paq.push(['setSiteId', '11']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pw.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//analytics.hel.ninja/pwk/pw.php?idsite=11" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
