{% load i18n wagtailimages_tags %}

<div class="col-sm-4">
    <div class="banner--edu match-height">
        <figure class="banner-illustration">
            <a href="{{ block_link_url }}">{% image block.icon original %}</a>
        </figure>
        <!-- TODO: add banner header to models -->
        <h3><a href="{{ block.page.url }}">{{ block.title }}</a></h3>
        <p>{{ block.abstract|truncatechars:225 }}</p>
        <p>
            <a class="btn btn-default" href="{{ block_link_url }}">{% trans "Read more" %}</a>
        </p>
    </div>
</div>
